<div class="govuk-summary-card stage" data-stage="<%= stage_name %>">
  <div class="govuk-summary-card__title-wrapper">
    <h2 class="govuk-summary-card__title"><%= stage_title %></h2>
    <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <%= govuk_link_to 'Change', link_path, visually_hidden_suffix: link_text %>
      </li>
    </ul>
  </div>
  <div class="govuk-summary-card__content">
    <dl class="govuk-summary-list">
      <% questions_and_answers.each do |question| %>
        <%=
          render(
            partial: "question_and_answer",
            locals: {
              ref: question.ref,
              title: question.title,
              answer: question.answer
            }
          )
        %>
      <% end %>
    </dl>
  </div>
</div>
