<main class="govuk-main-wrapper">
  <section class="container">
    <div class="row">
      <article class="col">
        <h1 class="govuk-heading-xl">Apply for landing</h1>
        <p class="govuk-body-l">
          You can use this service to apply to land on one of several planets and astronomical bodies.
        </p>

        <h2 class="govuk-heading-l">Available destinations</h2>
        <p class="govuk-body">
          You can use this service to obtain a landing permit for:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Mars</li>
          <li>Saturn (core)</li>
          <li>International Space Station (ESA)</li>
          <li>Tiangong space station</li>
          <li>Earth's moon</li>
          <li>Pluto</li>
        </ul>
      </article>
    </row>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section class="container requirements">
    <div class="row">
      <article class="col">
        <h2 class="govuk-heading-l">What you will need ready</h2>
        <p class="govuk-body">
          To apply for a landing permit you must provide your:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>name</li>
          <li>email address</li>
          <li>date of birth</li>
          <li>passport number</li>
          <li>pilot's licence number</li>
          <li>vehicle registration number</li>
        </ul>
        <p class="govuk-body">You will also need to tell us the dates of your proposed visit as not all dates are available on all destinations, due to local public holidays.</p>
      </article>
    </row>
  </section>

  <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

  <section class="container">
    <div class="row">
      <article class="col">
        <p class="govuk-body">Refer to our <%= link_to "README", "https://github.com/dxw/dfsseta-apply-for-landing-ruby", class: "govuk-link", target: :blank %> for further instructions.

        <h2 class="govuk-heading-l">GOV UK Design System "accordion" test</h2>
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Overview
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <p class='govuk-body'>
                  The DfSSETA Apply for Landing application supports a fictional Apply for Landing service supplied by the (equally fictional) Department for Space Strategy and Extra-Terrestrial Affairs.

                  The non-fictional purpose of the application is to serve as a model application that provides a template for how services are designed and developed at dxw. The intention is to guide developers new to the organisation in the dxw approach to application development; to aid developers in honing their cross-language skills; to demonstrate the dxw approach to interested external parties; and to serve as a basis for experimentation and trying out new technologies and ideas in a principled and systematic way.

                  The fictional purpose is to allow pilots of interplanetary spacecraft to obtain landing permits for a variety of destinations (namely, moons and planets) within Earth's solar system.
                </p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
                    Language Note
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
                <p class='govuk-body'>
                  The Apply for Landing application is intended to serve as a reference model instantiated in several different languages (namely Kotlin, C#, Javascript, Python, and Ruby). This repository contains the Ruby version of the application.
                </p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
                    Service Flow
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
                <p class='govuk-body'>
                  Functionally, the Apply for Landing application user journey consists of a number of steps.
                </p>
              </div>
            </div>
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
                    Terminology
                  </span>
                </h2>
              </div>
              <div id="accordion-default-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-4">
                <p class='govuk-body'>
                  See <%= link_to "ADR 0012: Standard terminology for the Apply for Landing service", "https://github.com/dxw/dfsseta-apply-for-landing-ruby/blob/main/doc/architecture/decisions/0012-standard-terminology.md", target: :blank , class: "govuk-link"%> for details of how we refer to the entities within this domain.
                </p>
              </div>
            </div>
          </div>

        <h2 class="govuk-heading-l">Helpful links</h2>
        <ul class="govuk-list">
          <li>
            <%= link_to "Architecture decision records", "https://github.com/dxw/dfsseta-apply-for-landing-ruby/tree/develop/doc/architecture/decisions", class: "govuk-link" %>
          </li>
          <li>
            <%= link_to "dxw RFCs", "https://github.com/dxw/tech-team-rfcs/", class: "govuk-link" %>
          </li>
        </ul>
      </article>
    </div>
  </section>
</main>
