<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <section class="container">
        <div class="row">
          <article class="col">
            <h1 class="govuk-heading-xl">Apply for landing</h1>
            <p class="govuk-body-l">
              You can use this service to apply to land on one of several planets and astronomical bodies.
            </p>

            <h2 class="govuk-heading-l">Available destinations</h2>
            <p class="govuk-body">
              You can use this service to obtain a landing permit for:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <% @landable_bodies.each do |body| -%>
                <li>
                  <%= body.name %>
                </li>
              <% end -%>
            </ul>
          </article>
        </row>
      </section>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <section class="container requirements">
        <div class="row">
          <article class="col">
            <h2 class="govuk-heading-l">What you will need ready</h2>
            <p class="govuk-body">
              To apply for a landing permit you must provide your:
            </p>
            <ul class="govuk-list govuk-list--bullet">
              <li>name</li>
              <li>email address</li>
              <li>date of birth</li>
              <li>passport number</li>
              <li>pilot's licence number</li>
              <li>vehicle registration number</li>
            </ul>
            <p class="govuk-body">You will also need to tell us the dates of your proposed visit as not all dates are available on all destinations, due to local public holidays.</p>
          </article>
        </row>
      </section>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      <section class="container">
        <div class="row">
          <article class="col">

            <a href=<%= stages_destination_path %> role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
              Start now
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
              </svg>
            </a>
          </article>
        </row>
      </section>
    </div>
  </div>
</main>
