<main class="govuk-main-wrapper">
  <section class="container">
    <div class="row">
      <article class="col">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <%= govuk_panel(title_text: "Application submitted") do %>Your reference number:
              <br />
              <strong>
                <%= @application_reference %>
              </strong>
            <% end %>

            <p class="govuk-body">
              We aim to contact you with a decision within 3 working days</p>
            </p>

            <p class="govuk-body govuk-!-margin-top-9">
              If you need to apply for another landing, you can now
              <a href="/" class="govuk-link govuk-link--no-visited-state">
                make another application
              </a>
            </p>
          </div>
        </div>
      </article>
    </row>
  </section>
</main>
