<main class="govuk-main-wrapper">
  <section class="container">
    <div class="row">
      <article class="col">
        <h1 class="govuk-heading-xl">Your destination</h1>
        <p class="govuk-body-l">
          Tell us which landable body you are planning to visit
        </p>
      </article>
    </row>
  </section>
</main>
